<div class="tx-lpaccess">
	<table cellpadding="0" cellspacing="0" border="0">
		<thead>
			<tr>
				<th></th>
				<f:for each="{hours}" as="hour">
					<th data-hour="{hour}">
						<f:translate extensionName="lp_access" key="hour.{hour}">
							{hour}
						</f:translate>
					</th>
				</f:for>
			</tr>
		</thead>
		<tbody>
			<f:for each="{rows}" key="day" as="columns">
				<tr>
					<th data-day="{day}">
						<f:translate extensionName="lp_access" key="day.{day}">
							{day}
						</f:translate>
					</th>
					<f:for each="{columns}" key="hour" as="column">
						<td title="{f:translate(extensionName: 'lp_access', key: 'day.label')}: {f:translate(extensionName: 'lp_access', key: 'day.{day}.full', default: '{day}')}&#xD;{f:translate(extensionName: 'lp_access', key: 'hour.label')}: {f:translate(extensionName: 'lp_access', key: 'hour.{hour}.title', default: '{hour}:00 - {hour}:59')}"
							data-day="{day}"
							data-hour="{hour}"
							data-value="{column.value}"{f:if(condition: '{column.active}', then: ' class="active"', else: '')}>
							<div></div>
						</td>
					</f:for>
				</tr>
			</f:for>
		</tbody>
	</table>
	<input
		type="hidden"
		id="{params.itemFormElID}"
		name="{params.itemFormElName}"
		value="{params.itemFormElValue}"
		onchange="{params.fieldChangeFunc.TBE_EDITOR_fieldChanged}" />
</div>